body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    }
.header {
    background-color:rgb(43, 153, 226);
    padding: 20px;
    text-align: left;
}
.navbar {
    background-color: #36e8df;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
p{
    text-align: justify;
}
h1,h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image-container{
    text-align: center;
}
.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; /* Full viewport height */
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}
ul li {
    background-color: rgba(0, 92, 173, 0.447);
    color: rgb(255, 255, 255); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
p {
    font-family: 'Times New Roman', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 92, 173, 0.447);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
table{
    background-color: black;
    text-align: center;
}
footer {
    background-color: #36e8df;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.center-table {
    margin: 0 auto;
}
body {
    background-image: url('bg.png');
    background-size: cover;
    background-attachment: fixed; /* Makes the image fixed while scrolling */
    background-position: center;
    backdrop-filter: blur(2px);
}


